.skills__container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.section__title{
    margin-bottom: 3rem;
}
.mother{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    background-color: var(--title-color-dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    height: 500px;
    box-shadow: 8px 8px 8px rgba(248, 246, 246, 0.2);
}
.skills__content{
    display: flex;
    width: 80%;
    gap: 20px;
    flex-wrap: wrap;
}
.skills__content_1{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    height: 500px;
    /*flex-wrap: wrap;*/
    background-color: var(--title-color-dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    box-shadow: 8px 8px 8px rgba(248, 246, 246, 0.2);

}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;

}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}
.skills .bx-badge-check{
    font-size:1.1rem;
    color: var(--title-color)

}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);

}

.stacks{
    display: flex;

}
.skills__image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.skills__titles{
    display: block;
}



@media screen and (max-width: 992px){
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }


}
/* For Medium device */
@media screen and (max-width: 576px){
    .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__content{
        padding: 1.5rem;
    }


}/* For Small device */
@media screen and (max-width: 350px){
    .skills__box{
        column-gap: 1.25rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }

}